#menu {
	background-color: white;
	width: 30%;
	margin-left: 35%;
}

header {
	padding: 20px;
}

header > img {
	margin-left: 45%;
	width: 50px;
	margin-bottom: 20px;
}

nav {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-self: center;
}

nav > ul > li {
	padding: 10px 10px;
	display: inline;
	text-align: center; 
	letter-spacing: 1px;
}

li:hover {
	transition: 2s color;
	color: white;
	background-color: brown;
	cursor: pointer;
}

section {
	display: flex;
	justify-content: space-around;
}

img {
	width: 200px;
}